<div class="container">

  <!-- title-->
  <div class="row">
    <div class="col">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>

  <!-- content -->
  <div class="row">

    <!-- calculator -->
    <div class="col">
      <h2>Calculator</h2>
      <form>

        <!-- Loan Value -->
        <div class="form-group">
          <label for="inputLoanValue">Loan Value</label>
          <input class="form-control" id="inputLoanValue" aria-describedby="loanValueHelp"
                 name="loanValueText" placeholder="Loan Value" [(ngModel)]="loanValueText">
          <small id="loanValueHelp" class="form-text text-muted">Amount with two decimals</small>
        </div>

        <!-- Yearly Interest Rate -->
        <div class="form-group">
          <label for="inputYearlyInterestRate">Yearly Interest Rate</label>
          <input class="form-control" id="inputYearlyInterestRate" aria-describedby="yearlyInterestRateHelp"
                 name="yearlyInterestRateText" placeholder="Yearly Interest Rate" [(ngModel)]="yearlyInterestRateText">
          <small id="yearlyInterestRateHelp" class="form-text text-muted">Percentage from 0-100 %</small>
        </div>

        <!-- Loan Term -->
        <div class="form-group">
          <label for="inputLoanTerm">Loan Term</label>
          <input class="form-control" id="inputLoanTerm" aria-describedby="loanTermHelp"
                 name="loanTermText" placeholder="Loan Term" [(ngModel)]="loanTermText">
          <small id="loanTermHelp" class="form-text text-muted">Up to a maximum of 30 years</small>
        </div>

        <!-- Email address -->
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                 placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <button type="submit" class="btn btn-primary" (click)="$event.preventDefault(); calculate()">Calculate</button>

      </form>
    </div>

    <!-- history -->
    <div class="col">
      <h2>History</h2>
      <ul *ngIf="items.length > 0" class="list-group">
        <li *ngFor="let item of items" class="list-group-item">{{ item }}</li>
      </ul>
    </div>

  </div>

</div>
